.main {
    background: url(http://i.imgur.com/Eor57Ae.jpg) no-repeat fixed center center;
    background-size: cover;
    height: 100vh;
}
.row {
   margin: 0;
}
.menu-spacer {
    flex: 1 1 auto;
}
.logo {
    width: 213px;
    height: 36px;
    margin: auto;
}
